.cap1{

    display:flex;
    flex-direction: row;
    justify-items:space-around ;
    align-content: flex-start;
    text-align: top;
    text-decoration: solid;
    border: 2px solid black;
}
.cap2{

    display:flex;
    flex-direction: row;
    justify-items: space-around;
    text-align: top;
    border: 2px solid black;
}